body {
    margin: 0;
    padding: 0;
}

#main {
    display: inline;
}

#grid-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 85vh;
    border: 2px solid red;
    margin: 15px;
    margin-top: 0px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.grid-square {
    flex: auto;
}

.drawn {
    background-color: grey;
}

#btn {
    margin: 15px;
}
